{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
     <article style="
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
  transition:0.2s;
">

  <div style="margin-bottom:10px;">
    <a href="#" style="font-weight:600; color:#007bff; text-decoration:none;">
      {{ post.author }}
    </a>
    <small style="color:gray;">
      • {{ post.created_at|date:"M d, Y" }}
    </small>
  </div>

  <h3 style="margin:5px 0;">
    <a href="{% url 'post-detail' post.id %}" style="text-decoration:none; color:#222;">
      {{ post.title }}
    </a>
  </h3>

  <p style="color:#555;">{{ post.content|truncatewords:20 }}</p>

</article>

  {% endfor %}
{% endblock content %}